<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Escrever Texto</h2>
            <h3>Contact <span>Us</span></h3>
            <p>Voce deve ....</p>
          </div>

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="icofont-pin"></i>
              <h4>Tipos de Acento:</h4>
              <p>Clique para saber mais sobre os diferentes tipos de acentos</p>
            </div>
          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-row">
            <div class="form-group">
              <input type="text" class="form-control" name="titulo" id="subject" placeholder="Título" data-rule="minlen:4" data-msg="Por favor digite um titulo valido" />
              <div class="validate"></div>
            </div>
            <div class=" col-md-6 form-group">
              <textarea class="form-control" name="message" rows="30" cols="10"
              autocomplete="off" autocorrect="off" 
              spellcheck="false" autocapitalize="off"
              data-rule="required" data-msg="Escreva seu texto por favor" placeholder="Escreva aqui seu texto:"></textarea>
              <div class="validate"></div>
            </div>

            <div class="text-center"><button type="submit">Enviar para Análise</button></div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->