{% extends 'teste.html' %}
{% block content %}
<section id="hero" class="dica">
    <h2>&nbsp;</h2>
</section><!-- End Hero -->
<!-- ======= Blog Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row content">

            <h2 class="entry-title">
                <a href="#">Curiosidade</a>
            </h2>


            <p>https://www.dicio.com.br/erros-de-ortografia/</p>
            <p>https://www.dicio.com.br/as-palavras-mais-usadas-na-lingua-portuguesa/</p>
            <p>https://www.dicio.com.br/as-8-palavras-mais-poderosas-da-lingua-portuguesa/</p>
            <p>https://www.dicio.com.br/20-palavras-que-voce-pode-estar-escrevendo-errado/</p>
            <p>https://www.dicio.com.br/20-palavras-que-quase-todo-mundo-fala-errado/</p>
                </ul>

            </div><!-- End blog entries list -->
        </div>
    </div>
</section>
{% endblock %}