{% extends 'teste.html' %}
{% block content %}
<section id="hero" class="dica">
    <h2>&nbsp;</h2>
</section><!-- End Hero -->
<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row content">

            <div class="col-lg-8 artigo">
                <div class="d-flex tutorial-item mb-4 art">
                    <div class="img-wrap">
                        <iframe src="https://giphy.com/embed/W4p2QJMltrvDqp1c0B" width="240" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    </div>
                    <div style="margin-left:7%;">
                        <h3><a href="/topico">Tópicos para você prestar atenção e conseguir uma redação nota 1000!</a>
                        </h3>
                        <p>Para chegar a nota 1000 você precisa estudar e práticar, aqui deixo algumas dicas importantes
                            para você prestar atenção.</p>

                        <p><a href="/topico" class="btn btn-primary custom-btn ler">leia mais</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 artigo">
                <div class="d-flex tutorial-item mb-4 art">
                    <div class="img-wrap">
                      <img src="static/assets/img/dicas/regras.jpg" height="70%" width="80%" />
                    </div>
                    <div>
                        <h3><a href="/topico">Regras Especiais de Acentuação gráfica</a>
                        </h3>
                        <p> Nossa gramatica possuo por diversas alterações, então saber algumas regrinhas de acentuação na hora de escrever um texto é fundamental</p>

                        <p><a href="/regrasAcentuacao" class="btn btn-primary custom-btn ler">leia mais</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 artigo">
                <div class="d-flex tutorial-item mb-4 art">
                    <div class="img-wrap">
                      <img src="static/assets/img/dicas/curiosidade.jpg" height="70%" width="80%" />
                    </div>
                    <div>
                        <h3><a href="/curiosidades">Algumas curiosidades sobre a língua Portuguesa</a>
                        </h3>
                        <p>Nosso idioma tem uma pluralidade significativa.</p>

                        <p><a href="/curiosidades" class="btn btn-primary custom-btn ler">leia mais</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 artigo">
                <div class="d-flex tutorial-item mb-4 art">
                    <div class="img-wrap">
                      <img src="static/assets/img/dicas/podcast.jpg" height="70%" width="60%" />
                    </div>
                    <div>
                        <h3><a href="/podcast">Podcasts</a>
                        </h3>
                        <p>Nosso idioma tem uma pluralidade significativa.</p>

                        <p><a href="/podcast" class="btn btn-primary custom-btn ler">leia mais</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}