{% extends 'base.html' %}

{% block content %}

<form class="form-horizontal col-sm-6 col-sm-offset-3"action="{{ url_for('handle_data') }}" method="POST">
    <div class="form-group">
      <label class="control-label col-sm-4" for="user-name">Título</label>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-user"></i>
        </span>
        <input type="text" class="form-control" id="titulo"  name="titulo">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-3" for="message">Digite seu texto aqui:</label>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-pencil"></i>
        </span>
        <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control" rows="20"  cols="50"  id="texto" name="texto">ola</textarea> 
      </div>
    </div>
    
    <button type="submit" id="send_form" name="send_form" value="send" class="btn btn-warning col-sm-4 col-sm-offset-4">
      Enviar Texto.
      <i class="fa fa-paper-plane"></i>
    </button>
  </form>
  
  {% endblock %}
