{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-6 mb-5 mb-lg-0">
    <form action="{{ url_for('processamento') }}" method="POST">

      <div class="row form-group">
        <div class="col-md-6 mb-3 mb-md-0">
          <label class="text-black" for="fname">Titulo:</label>
          <input type="text" class="form-control" id="titulo"  name="titulo">
        </div>
        

      <div class="row form-group">
        <div class="col-md-12">
          <label class="text-black" for="message">Texto></label> 
          <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control" rows="20"  cols="50"  id="message" name="message">ola</textarea>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-12">
          <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
        </div>
      </div>
    </form>
  </div>
  </div>
  
  {% endblock %}
