{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h3>o tempo foi de:{{ tempo}}</h3></br>
        <h3>{{ titulo}}</h3>
        {% for j in range(texto|length) %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                    alt="Card image cap">
                <div class="card-body">

                    <p class="card-text">
                        palavra da redação: {{ texto[j]['PALAVRAANT']}}</br>
                        palavra do vop: {{ texto[j]['PALAVRAVOP'] }}</br>
                        Regra verb: {{ texto[j]['REGRAVERB'] }}</br>
                        Regra não verb: {{texto[j]['REGRANaoVERB']}}</br>
                        silaba: {{ texto[j]['SILABA']}}</br>
                        classe: {{ texto[j]['CLASSE']}}</br>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}