{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                    alt="Card image cap">
                <div class="card-body">
                    |<h2>{{ retorno}}</h2>
                  
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}