{% extends 'teste.html' %}
{% block content %}
<section id="hero" class="dica">
    <h2>&nbsp;</h2>
</section><!-- End Hero -->
<!-- ======= Blog Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row content">

            <h2 class="entry-title">
                <a href="#">Podcasts</a>
            </h2>
            <p>
                <font size="3" >
                    Baixo você encontrará alguns podcasts que podem contribuir para seus estudos do ENEM ou qualquer
                    outro vestibular. Temos alguns que são focados em línguistica,história, entre outras matérias até
                    podcasts sobre conhecimentos gerais.
                </font>
               
            </p>
            <h3>ABRALIN:</h3>
            <p>Um podcast da Associação Brasileira de Linguística - ABRALIN, uma associação sem fins lucrativos,
             que tem como objetivo desenvolver,divulgar e aprimorar a Linguística teórica e aplicada no Brasil.
             O podcast conta com entrevista de pesquisadores, falando sobre seus trabalhos.
            </p>
            <h3> A Nossa Língua de Todo Dia:</h3>
            <p>Um podcast do professor Pasquale Cipro Neto, nele você pode ouvir sobre
                curiosidades do uso da língua portuguesa, gramática, estilo de escrita, análise das frases falafas por políticos, entre outros assuntos.
            </p>
            <h3>Xadrez Verbal</h3>
                <p></p>
            <p>https://www.dicio.com.br/erros-de-ortografia/</p>
            <p>https://www.dicio.com.br/as-palavras-mais-usadas-na-lingua-portuguesa/</p>
            <p>https://www.dicio.com.br/as-8-palavras-mais-poderosas-da-lingua-portuguesa/</p>
            <p>https://www.dicio.com.br/20-palavras-que-voce-pode-estar-escrevendo-errado/</p>
            <p>https://www.dicio.com.br/20-palavras-que-quase-todo-mundo-fala-errado/</p>
            </ul>
            <p>https://serlinguagem.wordpress.com/2019/09/21/8-podcasts-que-vao-fazer-voce-gostar-de-linguistica/
                http://www.todomundopod.com/sobre/
              
            </p>
            <p>Historia
                Xadrez Verbal
                O Xadrez Verbal é realizado desde 2015 abordando assuntos relacionados à política nacional e
                internacional. Ele é produzido por Filipe Figueiredo, historiador graduado na Universidade de São Paulo
                (USP).

                Esse podcast é uma boa opção para você que se interessa por política e quer ficar por dentro dos
                acontecimentos da área no Brasil e no mundo. E, é claro, te ajudará a se preparar para as questões
                relacionadas a diversas áreas de conhecimento, como história, geografia política e sociologia, para o
                Enem e outros vestibulares.

                Você pode ouvir o Xadrez Verbal no Spotify, no Deezer ou no próprio site.
            </p>
        </div><!-- End blog entries list -->
    </div>
    </div>
</section>
{% endblock %}