{% extends 'teste.html' %}
{% block content %}
<section id="hero" class="dica">
    <h2>&nbsp;</h2>
</section><!-- End Hero -->
<!-- ======= Blog Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row content">

            <h2 class="entry-title">
                <a href="#">Tópicos para você prestar atenção e conseguir uma redação nota 1000!</a>
            </h2>


            <div class="col-lg-10">
                <ul>
                    <li><i class="ri-check-double-line"></i> 1- Acentuar os hiatos tônicos I e U seguidos de S ou
                        sozinhos:

                        Juízes – saúde – saída – baú – país

                    </li>
                    <li><i class="ri-check-double-line"></i>2- A terceira pessoa do plural do presente do indicativo dos
                        verbos TER e VIR recebem acento circunflexo:

                        Têm – Vêm.</li>
                    <li><i class="ri-check-double-line"></i>Verbos derivados de TER e VIR recebem acento agudo para o
                        singular e circunflexo para o plural:

                        Contém – contêm – intervém – intervêm
                    </li>
                    <li><i class="ri-check-double-line"></i>Ditongos abertos (éi, éu, ói) em final de palavra devem ser
                        acentuados:

                        Herói – chapéu – coronéis</li>

                    <li><i class="ri-check-double-line"></i>Acento diferencial para o verbo PÔR e para a forma PÔDE no
                        pretérito.</li>
                </ul>

            </div><!-- End blog entries list -->
        </div>
    </div>
</section>
{% endblock %}