{% extends 'teste.html' %}
{% block content %}
<section id="hero" class="dica">
    <h2>&nbsp;</h2>
</section><!-- End Hero -->
<!-- ======= Blog Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row content">

            <h2 class="entry-title">
                <a href="#">Tópicos para você prestar atenção e conseguir uma redação nota 1000!</a>
            </h2>


            <div class="col-lg-10">
                <ul>
                    <li><i class="ri-check-double-line"></i>Leia muito!! A maioria das provas de redação exibe um texto
                        dissertativo-argumentativo. Para
                        escrever bem você precisa ter um conhecimento de mundo, então não leia só aquele seu genero
                        preferido, pegue jornais, busque saber sobre economica, ecologia, história. Geralmente os temas
                        das redações são conteúdos atuais, logo mantenha-se informado.
                    </li>
                       <li><iframe src="https://giphy.com/embed/NFA61GS9qKZ68" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    </li>
                    
                        <li><i class="ri-check-double-line"></i>Para se ter um bom desempenho nas nossas atividades
                        precisamos treinar, a redação não é
                        diferente, pegue temas passados e escreva sobre. Depois que tiver o texto pronto, submeta em
                        alguma plataforma como o Acentua Fácil *-*. Desta maneira você conseguirá avaliar como está sua
                        escrita e que pontos precisa melhorar.</li>
                    <li><i class="ri-check-double-line"></i>Talvez seja legal você saber alguns elementos coesivos, umas
                        frases para imprecionar os
                        avaliadores. Mas o mais importante de tudo é que consiga estruturar seu texto de forma clara,
                        objetiva e porque não simples, de nada adianta, usar elementos bonitos, se os mesmos não estão
                        conectados com o restante do que escreveu.</li>
                    <li><i class="ri-check-double-line"></i>Assim como o ponto anterior, você pode usar palavras que
                        considera elegantes, mas não precisa
                        força-lás no seu texto. As vezes quando se tenta parecer culto em um texto, escrever palavras
                        rebuscadas, uma mensagem que seria simples de ser entendida pelo leitor pode se tornar complexa.
                    </li>
                    <li><i class="ri-check-double-line"></i>Leia os textos de apoio, eles estão lá para nortear os
                        candidatos, suas ideias sobre o tema, e
                        que pontos escolher de defesa podem ficar mais claros.</li>
                    <li><i class="ri-check-double-line"></i>Comece a prova pela redação, faça seu rascunho, pense nos
                        seus argumentos (o ideal é apresentar
                        de dois a três argumentos, fazendo assim com que seu texto, tenha de quatro a cinco paragráfos
                        no total).</li>
                        <li><iframe src="https://giphy.com/embed/6Do13TV1OfOF2" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    </li>
                    <li><i class="ri-check-double-line"></i>Feche seu texto com chave de ouro. De nada adianta, você
                        escrever uma ótima introdução e
                        desenvolvimento, se chegar no final e não retomar seus pontos. Algumas provas como a do ENEM,
                        exigem que seja apresentada uma proposta de intervenção.</li>
                </ul>

            </div><!-- End blog entries list -->
        </div>
    </div>
</section>
{% endblock %}